.toggle-button {
    float: right;
}

.dashboard-profile-content {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}
.dashboard-profile-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .dashboard-profile-section h2 {
    border-bottom: 2px solid #cccccc;
  }

  .dashboard-profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .user-skills-section {
    padding-top: 35px;
  }